.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginHeader p {
  margin-top: 3px;
  font-size: 14px;
}

.authCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 3rem;
}

.authCard {
  width: 24rem;
}

.submitContainer {
  justify-content: center;
}

.submitContainer button {
  width: 100%;
}

.errorMessage {
  font-size: 12px;
  margin-top: 10px;
}